.profilephoto {
    width:80%;
    object-fit:cover;
    border-radius:50%;
    margin:5%;
}
.aboutme {
    float:left;
    text-align:center;
    color:#FFFFFF;
    font-size:16px;
}
.footer {
    position:fixed;
    width:89%;
    right:0;
    float:right;
    height:15%;
    color:#FFFFFF;
    bottom:0;
    padding:0;
    margin:0;
}
.monero {
    height:96%;
    width:96%;
    padding:2%;
    font-size:12px;
}
.fixed {
    float:left;
    position:fixed;
    bottom:0;
    left:0;
}
