.block {
    position: absolute;
    width: 85%;
    margin: 2%;
    color: #FFFFFF;
    background-color: #303030;
    background: #303030;
    border-radius: 7px;
    display: flex;
    align-items: center;
}
.title {
    margin: 2%;
    float: left;
    font-size: 25px;
    text-align: left;
    background-color: inherit;
}
.description {
    margin: 2%;
    position: absolute;
    right: 2%;
    font-size: 14px;
    text-align: right;
    background-color: inherit;
    line-height: 100%;
    display: inline;
    vertical-align: middle;
}